<div class="row d-flex justify-content-center mt-3">
    <div class="col-md-6 p-3 mainb2 text-center">
        <div class="output">
            <h2>{{model.Title}}</h2>
            <h5>{{model.Year}}</h5>
            <p><b>Director: </b>{{model.Director}}</p>
            <p>Runtime: {{model.Runtime}}</p>
            <p><b>{{model.Plot}}</b></p>
            <img src={{model.Poster}} alt="Movie poster">
        </div>
    </div>
</div>